version: '3'

services:
  mysql:
    image: mysql
    container_name: inethi-mysql
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    restart: unless-stopped
    volumes:
      - nextcloud_data:/var/lib/mysql
      
    environment:
      - "MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}"
      - "MYSQL_PASSWORD=${MYSQL_PASSWORD}"
      - "MYSQL_DATABASE=inethi_nextcloud"
      - "MYSQL_USER=inethi"
   

  nextcloud:
    image: nextcloud
    container_name: inethi-nextcloud
    restart: unless-stopped
    links:
      - mysql 
    volumes:
      - "${NEXTCLOUD_VOLUME}:/var/www/html"
      - "${NEXTCLOUD_RSHARE_VOLUME}:/mnt/Rshare"
      - "${NEXTCLOUD_RVIDEO_VOLUME}:/mnt/Rvideo"
      - "${NEXTCLOUD_RPHOTO_VOLUME}:/mnt/Rphoto"
      - "${NEXTCLOUD_RMUSIC_VOLUME}:/mnt/Rmusic"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nextcloud.rule=Host(`${TRAEFIK_API_RULE_NEXTCLOUD}.${inethiDN}`)"
      - "traefik.http.routers.nextcloud.entrypoints=${TRAEFIK_ENTRYPOINT}"

volumes:
  nextcloud_data:

networks:
  default:
    external:
      name: "${INETHI_NETWORK}"