
.DS_Store

.idea/

inethi_management/data/mysql/db/

inethi_management/inethi_management/migrations/

*.pyc

single-sign-on/keycloak/data/

inethi_management/node_modules/\@babel/runtime/helpers/

inethi_management/node_modules/\@popperjs/core/dist/umd/

inethi_management/node_modules/\@popperjs/core/lib/dom-utils/

inethi_management/node_modules/\@popperjs/core/lib/

inethi_management/node_modules/\@popperjs/core/

inethi_management/node_modules/\@restart/hooks/cjs/

inethi_management/node_modules/\@restart/hooks/esm/

inethi_management/node_modules/\@restart/ui/cjs/

inethi_management/node_modules/\@restart/ui/esm/

inethi_management/node_modules/\@restart/ui/types/

inethi_management/node_modules/warning/
