global
    # log to sidecar rsyslog container
    # with syslog facility to accomplish rsyslog-alpine cfg
    # log rsyslog syslog 

    maxconn 20480
    # chroot /jail
    #
    # SSL options
    ssl-default-bind-ciphers AES256+EECDH:AES256+EDH:!aNULL;
    tune.ssl.default-dh-param 4096

# DNS runt-time resolution on backend hosts
resolvers docker
    nameserver dns "127.0.0.11:53"

defaults
    log global
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    #option forwardfor
    #option httplog

    # never fail on address resolution
    default-server init-addr last,libc,none

frontend http
    bind *:80
    mode http
    #redirect scheme https code 301 if !{ ssl_fc }
    
    default_backend web_splash

#frontend https
    #bind *:443 ssl crt /etc/haproxy/certs/ no-sslv3 no-tls-tickets no-tlsv10 no-tlsv11
    #http-response set-header Strict-Transport-Security "max-age=16000000; includeSubDomains; preload;"

    #acl inethi-splash ssl_fc_sni splash.inethi.net
    #use_backend web_splash if inethi-splash

	#default_backend web_splash

backend web_splash
    mode http
    server inethi-nginx inethi-nginx:80