version: "2.1"
services:
  jellyfin:
    image: linuxserver/jellyfin
    container_name: inethi-jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=UTC
      - UMASK_SET=<022> #optional
    volumes:
      - '${JELLYFIN_VOLUME}/config:/config'
      - '${JELLYFIN_VOLUME}/tvseries:/data/tvshows'
      - '${JELLYFIN_VOLUME}/movies:/data/movies'
      - '${JELLYFIN_VOLUME}/opt/vc/lib:/opt/vc/lib'
    #ports:
      #- 8096:8096
      #- 8920:8920 #optional
      #- 7359:7359/udp #optional
      #- 1900:1900/udp #optional
    #devices:
      #- /dev/dri:/dev/dri #optional
      #- /dev/vcsm:/dev/vcsm #optional
      #- /dev/vchiq:/dev/vchiq #optional
      #- /dev/video10:/dev/video10 #optional
      #- /dev/video11:/dev/video11 #optional
      #- /dev/video12:/dev/video12 #optional
    restart: always
    networks:
      default:
        ipv4_address: "${JELLYFIN_IPV4}"

networks:
  default:
    external:
      name: "${INETHI_NETWORK}"